<launch>
  <arg name="radar_config" default="profile_more_sensitive.cfg"/>
  <!-- <arg name="radar_config" default="xwr18xx_AOP_profile_best_velocity_resolution.cfg"/> -->

  <node name="xwr18xx_mmw_data_pub_node" pkg="mav_sensors_demo" type="mav_sensors_demo_xwr18xx_mmw_data_publisher" output="screen">
    <param name="radar_config" value="$(arg radar_config)"/>
  </node>
</launch>
